body {
    background-color: #efefef;
}

span.spacing {
    margin-right: 10px;
}

input.custom-width {
    width: 200px;
}

input.spacing {
    margin-right: 5px;
}

.h2custom {
    color: #fff;
    font-size: 22px;
}
.pad0 {
    padding: 0!important;
}
